.Accessibility {
    position: fixed;
    right: 0;
    top: 200px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--clr-primary);
    z-index: 9999 !important;
}

.toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.toggle:focus~.toggle-label {
    outline: 3px solid rgba(lightblue, .75);
}

.toggle-label {

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(--clr-light);
    cursor: pointer;

}

.Accessibility-buttons {
    position: absolute;
    text-align: left;
    padding: 1em;
    top: 0px;
    left: -300px;
    background: var(--clr-light);
    width: 300px;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 0.8px rgba(0, 0, 0, 0.02),
        0px 2.5px 2px rgba(0, 0, 0, 0.028),
        0px 4.6px 3.8px rgba(0, 0, 0, 0.035),
        0px 8.3px 6.7px rgba(0, 0, 0, 0.042),
        0px 15.5px 12.5px rgba(0, 0, 0, 0.05),
        0px 37px 30px rgba(0, 0, 0, 0.07);
    font-size: large;

}



.Accessibility-buttons button {
    margin-bottom: 1em;
    list-style: none;
    text-align: left;
    text-decoration: none;
    transition: opacity 150ms ease-in-out;
    font-weight: 400;
    border: 0;
    cursor: pointer;

}

.Accessibility-buttons button:hover {
    color: var(--clr-secondary);
    border: 1px solid var(--clr-secondary);
}

.toggle:checked~.Accessibility-buttons {
    transform: scale(1, 1);
}

.toggle:checked~.Accessibility-buttons a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}