.Menu {
    background-color: var(--clr-light);
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 1px 0.8px rgba(0, 0, 0, 0.02),
        0px 2.5px 2px rgba(0, 0, 0, 0.028),
        0px 4.6px 3.8px rgba(0, 0, 0, 0.035),
        0px 8.3px 6.7px rgba(0, 0, 0, 0.042),
        0px 15.5px 12.5px rgba(0, 0, 0, 0.05),
        0px 37px 30px rgba(0, 0, 0, 0.07);
}

.logo {
    font-family: var(--ff-accent);
    font-size: .6rem;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    margin-right: 1rem;
    width: 90px;
    height: auto;
    object-fit: contain
}

.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.nav-toggle:focus~.nav-toggle-label {
    outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--clr-primary);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 10px;
}

.nav-toggle-label span::after {
    top: 10px;
}



.nav-list {
    position: absolute;
    text-align: left;
    padding-top: 30px;
    top: 100%;
    left: 0;
    background: var(--clr-light);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: left;
    box-shadow: 0px 1px 0.8px rgba(0, 0, 0, 0.02),
        0px 2.5px 2px rgba(0, 0, 0, 0.028),
        0px 4.6px 3.8px rgba(0, 0, 0, 0.035),
        0px 8.3px 6.7px rgba(0, 0, 0, 0.042),
        0px 15.5px 12.5px rgba(0, 0, 0, 0.05),
        0px 37px 30px rgba(0, 0, 0, 0.07);
}



.nav-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.nav-list li {
    margin-left: 1em;
    padding-top: 5px;
    padding-bottom: 5px;

}

.nav-list a {
    padding: 10px;
    display: inline-block;
    width: 100%;
    color: var(--clr-primary);
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    font-weight: 900;
}


.nav-toggle:checked~.nav-list {
    transform: scale(1, 1);
}

.nav-toggle:checked~.nav-list a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}



.nav-list li:nth-last-of-type(1) a,
.nav-list li:nth-last-of-type(2) a {
    display: block;
    height: 100%;
    padding-top: 20px;
    background-color: var(--clr-secondary);
    border-radius: 10px;
    font-weight: 800;
    color: var(--clr-light);
    padding: 10px;
}

.nav-list li:nth-last-of-type(1) a::before,
.nav-list li:nth-last-of-type(2) a::before,
.nav-list li:nth-last-of-type(1) a:hover::before,
.nav-list li:nth-last-of-type(2) a:hover::before {
    all: unset;
}



.nav-list li:nth-last-of-type(1) a:hover,
.nav-list li:nth-last-of-type(2) a:hover {

    color: var(--clr-light);
    font-weight: 900;
    background: var(--clr-primary);

}


@media screen and (min-width: 1250px) {
    .nav-toggle-label {
        display: none;
    }

    .Menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
        padding-left: 3em;
        padding-right: 3em;
    }

    .logo {
        display: flex;
        justify-content: left;
        flex: 3;
        font-size: .8rem;
    }

    .nav-list {
        all: unset;
        /* this causes issues with Edge, since it's unsupported */

        /* the following lines are not from my video, but add Edge support */
        position: relative;
        transition: none;
        transform: scale(1, 1);
        background: none;
        top: initial;
        left: initial;
        /* end Edge support stuff */

        flex: 7;
        justify-content: space-around;
        align-items: center;

    }



    .nav-list ul {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    .nav-list li {
        margin-right: 2em;
        margin-left: 2em;
        margin-bottom: 0;
    }




    .nav-list a {
        padding: 0;
        opacity: 1;
        position: relative;
    }

    .nav-list a::before {
        content: '';
        display: block;
        height: 5px;
        background: var(--clr-secondary);
        position: absolute;
        width: 100%;
        top: -.75em;
        left: 0em;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    .nav-list a:hover::before {
        transform: scale(1, 1);
    }

    .clr-1:hover::before {
        background: #d7408b;
    }

    .clr-2:hover::before {
        background: #003f85;
    }

    .clr-3:hover::before {
        background: #00a4e6;
    }

    .clr-4:hover::before {
        background: #009641;
    }

    .clr-5:hover::before {
        background: #feec00;
    }

    .clr-6:hover::before {
        background: #ffa517;
    }

    .clr-7:hover::before {
        background: #f24329;
    }

    .nav-list li:nth-last-of-type(1) {
        margin-right: 0;
        line-height: 2.5em;

    }

    .nav-list li:nth-last-of-type(2) {
        margin-left: auto;
        margin-right: 0;
        line-height: 1.4em;

    }

    .nav-list li:nth-last-of-type(1) a,
    .nav-list li:nth-last-of-type(2) a {
        display: inline-block;
        align-items: center;
        height: 5em;
        width: 8.4em;
    }
}


.clr-1:hover {
    color: #d7408b;
}

.clr-2:hover {
    color: #003f85;
}

.clr-3:hover {
    color: #00a4e6;
}

.clr-4:hover {
    color: #009641;
}

.clr-5:hover {
    color: #feec00;
}

.clr-6:hover {
    color: #ffa517;
}

.clr-7:hover {
    color: #f24329;
}

@media screen and (min-width: 1430px) {
    .logo img {
        width: 150px;
        height: auto;
    }
}