.News {
    display: flex;
    margin-bottom: 6em;
}

.row-reverse {
    flex-direction: row-reverse;
}

.row {
    flex-direction: row;
}

.News-photo {
    flex: 4;
    display: flex
}

.row-reverse>.News-photo {
    justify-content: right;
}

.row>.News-photo {
    justify-content: left;
}

.News-content {
    flex: 6;
}

.News-photo img {
    width: clamp(200px, 100%, 500px);
    height: auto;
}

.News-date {
    display: block;
    color: gray;
    position: relative;
    top: 20px;
    left: 0;
}

@media only screen and (max-width: 1000px) {

    .row-reverse,
    .row {
        flex-direction: column;
    }

    .News-photo {
        display: flex;
        justify-content: center;
        margin: 1em !important;
    }


    .News {
        align-items: center;
        flex-wrap: wrap;
    }

    .News-content {
        margin: 1em !important;
    }

    .News-date {
        text-align: right;
    }
}