:root {
  /* --clr-primary-200: #f3eed9;
  --clr-primary-400: #824936;

  --clr-neutral-100: #fff;
  --clr-neutral-900: #222c2a; */

  --ff-primary: "Roboto", sans-serif;
  --ff-accent: "Playfair Display", serif;


  --clr-primary: #009641;
  --clr-secondary: #003f85;
  --clr-dark: #001935;
  --clr-light: #f3eed9;
  --clr-info: #f24329;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  ;
}